.homepage{
    align-items: center;
    display:block;
    align-self: center;
    text-align: center;
}

.ad{
    margin-left: 400px;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    min-height: 500px;
    background-color: blue;
    align-items: center; 
    color: white;  
    vertical-align:middle;
}

.h1{
    text-align: center;
    display: block;
    align-self: center;
}
